* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
.register-page {
  display: flex;
  min-height: 100vh;
  text-align: center;
}
.register-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.register-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e0e0e0;
}
.register-subtitle {
  margin-bottom: 24px;
  width: 100%;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-input {
  width: 50%;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  transition: border-bottom-color 0.3s;
}

.register-input:focus {
  border-bottom-color: #aeff6e;
}
.register-button {
  width: 50%;
  background-color: #aeff6e;
  color: #000;
  padding: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  border-radius: 5px;
}
.register-google-button {
  width: 50%;
  background-color: #fff;
  padding: 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-bottom: 16px;
  border-radius: 3px;
}
.register-google-image {
  width: 40px;
  margin-right: 8px;
  vertical-align: middle;
}
.register-signin {
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
.image-container {
  position: sticky;
  top: 0;
  flex: 1;
  min-height: 100vh;
  overflow: hidden;
}
.register-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  width: 120px; /* Adjust size as needed */
}
